* {
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}
#logo_unitins {
  position: absolute;
  left: 92%;
  top: 15%;
}

/*homepage*/

#logo_loja {
  position: absolute;
  right: 92%;
  top: 15%;
}

#menu_horizontal_homepage {
  list-style-type: none;
  position: relative;
  top: 1px;
  text-align: center;
  background-color: #110f0f;
  border-radius: 5px;
  height: 70px;
  line-height: 2;
}

#menu_horizontal_homepage li {
  display: inline;
  padding: 50px 10px;
  color: #fff;
  font-size: 20px;
}

#menu_horizontal_homepage li a {
  color: #fff;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
}

#menu_horizontal_homepage li a:hover {
  color: #9318f8;
}

#heading1_homepage {
  text-align: left;
  font-size: 20px;
  margin-bottom: 1rem;
}

#heading2_homepage {
  text-align: center;
  font-size: 20px;
  margin-top: 1rem;
}

#homepage {
  background-color: #181818;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
}

#info_homepage {
  line-height: 30px;
}

#content_homepage {
  padding: 1rem;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 10%;
  border-radius: 10px;
  text-align: justify;
  background-color: #1e1e1e;
}
#content_homepage a {
  text-decoration: none;
  color: #fff;
}

.blocks {
}
#footer_homepage {
  width: 100%;
  padding: 5px;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 1px;
  background-color: #1e1e1e;
}

#footer_homepage a {
  text-decoration: none;
  color: #fff;
}

/*quemsomos*/

#menu_horizontal_quemsou {
  list-style-type: none;
  position: relative;
  top: 1px;
  text-align: center;
  background-color: #110f0f;
  border-radius: 5px;
  height: 70px;
  line-height: 2;
  font-family: "Open Sans", sans-serif;
}

#menu_horizontal_quemsou li {
  display: inline;
  padding: 50px 10px;
  color: #fff;
  font-size: 20px;
}

#menu_horizontal_quemsou li a {
  color: #fff;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
}

#menu_horizontal_quemsou li a:hover {
  color: #9318f8;
}

#quemsou {
  height: 100%;
  background-color: #181818;
  color: #f5f5f5;
}

#h1_quemsou {
  text-align: left;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

#h2_quemsou {
  display: flex;
  justify-content: center;
  margin: 2rem 0 2rem 0;
  font-size: 40px;
}
#content_quemsou {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 800px;
  margin: auto;
  grid-gap: 40px;
  padding: 2rem;

  border-radius: 10px;
}
.card {
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 40px;
  box-shadow: 6px 6px 10px #9318f8;
  width: 20rem;
  margin-bottom: 3rem;
}
.card h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 5px;
}
.p_quemsou {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  text-align: justify;
}
.img_quemsou {
  size: 40px;
  width: 100px;
  border-radius: 10%;
}

#footer_quemsou {
  width: 100%;
  padding: 5px;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 1px;
  background-color: #1e1e1e;
}

#footer_quemsou a {
  text-decoration: none;
  color: #fff;
}

/*formulário*/

#menu_horizontal_formulario {
  list-style-type: none;
  position: relative;
  top: 1px;
  text-align: center;
  background-color: #110f0f;
  border-radius: 5px;
  height: 70px;
  line-height: 2;
  font-family: "Open Sans", sans-serif;
}

#menu_horizontal_formulario li {
  display: inline;
  padding: 50px 10px;
  color: #fff;
  font-size: 20px;
}

#menu_horizontal_formulario li a {
  color: #fff;
  padding: 10px;
  display: inline-block;
  text-decoration: none;
}

#menu_horizontal_formulario li a:hover {
  color: #9318f8;
}

#h1_contato {
  text-align: left;
  font-size: 20px;
  margin-bottom: 1rem;
}

#h2_contato {
  text-align: center;
  font-size: 20px;
  margin-top: 1rem;
}

#formulario {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #181818;
  color: #fff;
  height: 100%;
  justify-content: center;
}

.content_formulário {
  background-color: #1e1e1e;
  padding: 2rem;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 10px;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.span-required {
  display: none;
  font: 12px;
  margin: 3px 0 0 3px;
  color: #ff0000;
}

.inputs {
  padding: 8px 5px;
  outline: none;
  border-radius: 5px;
  background-color: #181818;
  border: 2px solid #181818;
  color: #fff;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  transform: 0.3s;
}

.inputs:focus {
  border-color: #9333ff;
}

legend {
  margin-top: 1rem;
}

.boxSelect {
  display: inline-block;
  justify-content: space-between;
  gap: 1rem;
}

button {
  padding: 1rem;

  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: #4b0082;
  color: #fff;
  width: 100%;
  cursor: pointer;
}

button:hover {
  background-color: #9333ff;
}

#rodape_formulario {
  width: 100%;
  padding: 5px;
  bottom: 0;
  position: fixed;
  text-align: center;
  border-radius: 1px;
  background-color: #1e1e1e;
}

#rodape_formulario a {
  text-decoration: none;
  color: #fff;
}
